@import 
url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

body {
    font-family: 'Fuzzy Bubbles', sans-serif;
    margin: 20px;
    background-color: lightcoral;
}

h1 {
    border: 1px solid rgb(4, 9, 255);
    color:blue;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width:300px;
    background-color: lightcyan; 
       
}

#container {
    display: flex; /* Adicionado display: flex para ativar o flex container */
    flex-direction: column; /* Define a direção dos itens como coluna */
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centraliza o container horizontalmente */
}

#container p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightblue;
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
}

#container p.active {
    background-color: lightcoral;
}

#container p:hover {
    background-color: rgb(233, 233, 233);
}

@media (max-widht: 600px) {
    h1 {
        font-size: 24px;
    }

    #container p {
        font-size: 16px;
        padding: 10px; 
        width: 100px; 
        height: 50px;
    }
    
}
    

